
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
  background: #2c2c54; /* Darker background for content */
  padding: 30px;
  border-radius: 12px;
  position: relative;
  width: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border: 1px solid #4a4a6a;
}

.modal-content-small {
  max-width: 300px;
}

.modal-content-medium {
  max-width: 500px;
}

.modal-content-large {
  max-width: 800px;
}

.modal-content-xlarge {
  max-width: 1200px;
  width: 80vw;
}

.modal-close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    color: #e0e0e0;
    font-size: 28px;
    cursor: pointer;
}
